/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

@font-face {
    font-family: 'PoppinsCustom';
    src: url('../../public/fonts/DESIGNERVN-POPPINS-REGULAR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.tommorrow_font {
    font-family: 'Tomorrow', sans-serif;
    font-size: 21px;
    font-weight: bold;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.head {
    width: 100%;
    background-color: #FFEDD5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.head.hide {
    transform: translateY(-100%);
}

.head.show {
    transform: translateY(0);
}

.content {
    margin-top: 4.5em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    max-width: 1280px;
    margin: 0 auto;
    z-index: 1000;
}

.navbar-links {
    list-style: none;
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    margin-left: 65px;
}

.navbar-links li {
    margin-right: 20px;
    position: relative;
}

.navbar-links span {
    color: #333;
    text-decoration: none;
    font-size: 1em;
}

.navbar-links li:hover span,
.navbar-links li:hover i {
    color: #ff6347;
}

.button1 {
    /* font-family: 'Tomorrow', sans-serif; */
    padding: 0.5em 1em;
    margin: 0 1em;
    border-radius: 0.7em;
    font-size: 0.9em;
    min-width: 120px;
    transition: background-color 0.3s;
}

.dark-mode .button1 {
    background-color: #FA8072;
    color: #ffffff;
}

.signup-button:hover {
    background-color: #d46e67;
}

.signin-button:hover {
    background-color: #e3d2bc;
}

.signin-button {
    /* font-family: 'Tomorrow', sans-serif; */
    border: 1px solid #8e8e8e;
    text-transform: capitalize;
    transition: background-color 0.3s;
}

.signup-button {
    background-color: #FA7D75;
    border: 1px solid #FA7D75;
    color: #FFEDD5;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 2em;
}

/* ListMenu với position absolute */

.navbar-links li .list-menu {
    list-style-type: none;
    background-color: #FFF7ED;
    padding: 10px;
    margin-top: 10px;
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    z-index: 10;
    border-radius: 0.2em;
    border: 1px solid #c9c9c9;
}


/* Hiển thị ListMenu khi được mở */

.navbar-links li:hover::after {
    content: "";
    width: 130px;
    height: 30px;
    display: block;
    position: absolute;
    top: 100%;
}

.navbar-links li:hover .list-menu {
    display: block;
}

.list-menu li {
    /* padding: 5px; */
    color: white;
    width: 100%;
}

.list-menu li a {
    color: #333;
    text-decoration: none;
    font-size: 0.9em;
    white-space: nowrap;
}

.list-menu li:hover a {
    color: #ff6347;
    /* text-decoration: underline; */
    border-bottom: 1px solid #ff6347;
}

.navbar-user-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    gap: 5px;
}

.navbar-user-section i {
    font-size: 25px;
    margin: 0 10px;
    color: #666666;
    vertical-align: middle;
}


/* CSS cho slideshow */

.slideshow-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #ffa6ca9b;
}

.slides-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    padding: 1em;
    z-index: 2;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.prev {
    left: 2em;
}

.next {
    right: 2em;
}

.dots {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}


/* css cho container */

.container {
    width: 1280px;
    margin: 0 auto;
    text-align: justify;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-image-box {
    width: 40%;
    position: relative;
}

.container-image {
    border-radius: 2em;
    transform: scale(1);
    transition: all 0.3s ease;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
}

.container-image:hover {
    transform: scale(1.1);
}

.container-content {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.container-content h2 {
    font-size: 2em;
    font-weight: bold;
    /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
}

.container-content p {
    font-size: 1.2em;
    color: #333;
    text-align: justify;
}

.container-button {
    padding: 1em 2em;
    font-size: 1.3em;
    font-weight: bold;
    background-color: #FA8072;
    color: #333;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.3s ease;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
}

.container-button:hover {
    background-color: #ff6347;
    color: #ffffff;
    transform: scale(1.1);
}


/* tool bar bên dưới slideshow */
.tool-bar {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 1.2em;
    margin: 2em 0;
    background: linear-gradient(90deg, #8fe34a6c, #ffc77d77);
}

.tool-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 1em 2em;
    margin: 0 1em;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    font-size: 1.2em;
    cursor: pointer;
    /* transition: all 0.3s ease; */
}

.tool-item:hover {
    color: #fff;
    background: linear-gradient(90deg, #58e1e1, #00ab83);
}



/* Phần hướng dẫn sử dụng */

.how-to-use {
    padding: 5em;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.how-to-use::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    background-size: cover;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/a4b33886128681.5d909dad47ded.jpg);
}

.instruction-section {
    z-index: 10;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    border-radius: 1em;
}

.instruction-section h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.instruction-steps {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.step-card {
    position: relative;
    background-color: #ffffff67;
    border: 1px solid #ddd;
    border-radius: 0.5em;
    padding: 2em;
    width: 32%;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.step-card:nth-child(1):before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: 0.5em 0.5em 0 0;
    background: linear-gradient(to right, #3995ff, #ffffff);
}

.step-card:nth-child(2):before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: 0.5em 0.5em 0 0;
    background: linear-gradient(to right, #eb39ff, #ffffff);
}

.step-card:nth-child(3):before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: 0.5em 0.5em 0 0;
    background: linear-gradient(to right, #39ffe5, #ffffff);
}

.step-card .step-header {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    /* opacity: 0; */
    transition: opacity 0.3s;
}

.step-card .step-detail {
    font-size: 0.9em;
    color: #333;
    position: absolute;
    top: 5%;
    width: 75%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: justify;
    opacity: 0;
    transition: 0.3s;
}

.step-card:hover .step-header {
    opacity: 0;
}

.step-card:hover .step-detail {
    opacity: 1;
}

.step-header .step-icon {
    padding: 0.2em;
    font-size: 2.5em;
    color: white;
    border-radius: 0.2em;
    box-shadow: 0px 0px 16px rgba(42, 0, 253, 0.658);
    background: linear-gradient(120deg, #8a37ff, #2264ff);
}

.step-header h3 {
    font-size: 1em;
    font-weight: bold;
}

.step-header>p {
    color: #666;
    font-size: 0.9em;
}

.step-detail>div {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 1em;
}

.step-detail>div>h3 {
    font-size: 1em;
    font-weight: bold;
}

.step-arrow {
    font-size: 2.5em;
    padding: 0.2em;
    border-radius: 0.5em;
    color: white;
    background-color: black;
}

.step-arrow:hover {
    background-color: #666;
}

/* cau hoi thuong gap */

.faq {
    color: #eeeeee;
    display: flex;
    flex-direction: column;
    padding: 5em;
    background: linear-gradient(90deg, #a848db, #8462ff);
}

.faq h2 {
    margin: 0 auto;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 1em;
}

.list-faq-question {
    margin: 0 auto;
    margin-top: 2em;
    font-size: 1em;
    width: 80%;
}

.faq-item {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-bottom: 1px solid #b2b2b2;
}

.faq-question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.faq-question:hover {
    color: #efa2ff;
}

.faq-question .faq-icon {
    font-size: 1.2em;
    transition: transform 1s;
}

.faq-answer {
    color: #d2d2d2;
    text-align: justify;
    width: 95%;
}


/* Phần nhận xét và đánh giá */
.review-section {
    padding: 5em;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.review-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    background-size: cover;
    background-image: url(https://motionarray.imgix.net/2260334-3y8En8mMl1-high_0003.jpg?w=660&q=60&fit=max&auto=format);
}

.review-section h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.bg-review-section {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.review-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.5em;
    padding: 2em;
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.review-detail {
    text-align: justify;
}

.star-rate {
    color: darkorange;
    font-size: 1.5em;
}

.review-author {
    display: flex;
    align-items: center;
    gap: 1em;
}

.review-author img {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
}

.author-name {
    font-size: 1.1em;
    font-weight: bold;
}

/* footer detail */
.footer-detail {
    padding: 5em;
    display: flex;
    flex-direction: column;
    background: linear-gradient(120deg, #0c0036, #0d003b, #0f0043, #0f0043, #160067);
}

.footer-detail .footer-elements {
    display: flex;
    justify-content: space-between;
}

.footer-elements .links-section {
    display: flex;
    flex-direction: column;
}

.links-section h3 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    color: #fff;
}

.links-section a {
    color: #d8d8d8;
    text-decoration: none;
    margin-bottom: 0.5em;
}

.links-section a:hover {
    color: #8560ffdc;
}

.footer-language {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 4em;
    color: #d8d8d8;
}

.footer-language .language-icon {
    font-size: 1.5em;
    margin-right: 1em;
}

.footer-language .languages {
    display: flex;
    flex-wrap: wrap;
}

.languages a {
    text-decoration: none;
    margin-right: 1em;
}

.languages a:hover {
    color: #8560ffdc;
}

.footer-end {
    padding: 1.5em 5em;
    color: #d8d8d8;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #080023, #080023, #090027, #11004c);
}

.footer-end .logo-section {
    display: flex;
    align-items: center;
}

.footer-end .copyright {
    display: flex;
    align-items: center;
}

.copyright span {
    margin: 0 0.5em;
}

/* css cho button scroll top */
.scroll-btn {
    position: fixed;
    z-index: 1000;
    border: 2px solid #a1a1a1;
    padding: 1em;
    border-radius: 0.5em;
    cursor: pointer;
    color: #a1a1a1;
}

.scroll-btn:hover {
    border: 2px solid #53a0ff;
    color: #53a0ff;
}

.scroll-top {
    bottom: 10em;
    right: 5em;
}

.scroll-bottom {
    bottom: 5em;
    right: 5em;
}