.convert__body {
  margin-top: 150px;
  text-align: center;
  margin-bottom: 200px;
}

.convert__box {
  margin: 0 auto;
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.convert__box-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.convert__box-link {
  border: 5px solid #fa8072;
  width: 70%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.convert__box-input{
    height: 50px;
    width: 100%;
    font-size: 18px;
    border: none;
    outline: none;

}

.convert__box-input:active{
    border: none;
}

.convert__box-submit{
    height: 60px;
    width: 30%;
    font-size: 18px;
    background-color: #fa8072;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0 20px;
}

.convert__box-col{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
}

.convert__box-youtube{
    width: 30%;
}

.convert__box-youtube h3{
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

/* From Uiverse.io by vikiWayne */ 
.convert__box-button {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #fa8072;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #fa8072;
    height: 60px;
    width: 210px;
  }
  
  .convert__box-button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #fa8072;
    box-shadow: 4px 5px 17px -4px #fa8072;
  }
  
  .convert__box-button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fa8072;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  .convert__box-button:hover::before {
    width: 250%;
  }
  
  .convert__box__file{
    width: 240px;
    height: 240px;
  }

  .convert__file-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* From Uiverse.io by Pradeepsaranbishnoi */ 
.form {
  --background: #ffffff;
  --text: #414856;
  --radio: #7C96B2;
  --radio-checked: #4F29F0;
  --radio-size: 20px;
  --width: 150px;
  --height: 250px;
  --border-radius: 10px;
  background: var(--background);
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  color: var(--text);
  position: relative;
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
  padding: 30px 20px;
  display: grid;
  grid-template-columns: auto var(--radio-size);
  align-items: center;
}

.form label {
  cursor: pointer;
}

.form input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: var(--radio-size);
  width: var(--radio-size);
  outline: none;
  margin: 0;
  cursor: pointer;
  border: 2px solid var(--radio);
  background: transparent;
  border-radius: 50%;
  display: grid;
  justify-self: end;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  transition: border .5s ease;
}

.form input[type="radio"]::before, .form input[type="radio"]::after {
  content: "";
  display: flex;
  justify-self: center;
  border-radius: 50%;
}

.form input[type="radio"]::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background);
  z-index: 1;
  opacity: var(--opacity, 1);
}

.form input[type="radio"]::after {
  position: relative;
  width: calc(100% /2);
  height: calc(100% /2);
  background: var(--radio-checked);
  top: var(--y, 100%);
  transition: top 0.5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
}

.form input[type="radio"]:checked {
  --radio: var(--radio-checked);
}

.form input[type="radio"]:checked::after {
  --y: 0%;
  animation: stretch-animate .3s ease-out .17s;
}

.form input[type="radio"]:checked::before {
  --opacity: 0;
}

.form input[type="radio"]:checked ~ input[type="radio"]::after {
  --y: -100%;
}

.form input[type="radio"]:not(:checked)::before {
  --opacity: 1;
  transition: opacity 0s linear .5s;
}

@keyframes stretch-animate {
  0% {
    transform: scale(1, 1);
  }

  28% {
    transform: scale(1.15, 0.85);
  }

  50% {
    transform: scale(0.9, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

.socials {
  position: fixed;
  display: block;
  left: 20px;
  bottom: 20px;
}

.socials > a {
  display: block;
  width: 30px;
  opacity: .2;
  transform: scale(var(--scale, 0.8));
  transition: transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
}

.socials > a:hover {
  --scale: 1;
}

.convert__box-menu{

}